.if-section {
  padding-top: 30px;
  background-color: black;
  width: 1000px;
  height: 380px;
}

.if-section img{
  width: 300px;
}

.if-body-copy {
  color: white;
  position: relative;
  top: -260px;
  left: 300px;
}




#red-heading {
  color:red;
}


#website {
margin-left: 200px;
margin-top: -20px;
color: gray;
font-size: 1.5em;
}



#adobe {
  width: 200px;
  margin-left: 500px;
  margin-top: -100px;
}
