.if-section {
  padding-top: 30px;
  background-color: black;
  width: 1000px;
  height: 380px;
}

.if-section img{
  width: 300px;
}

.if-body-copy {
  color: white;
  position: relative;
  top: -210px;
  left: 220px;
}

.if-body-copy p:nth-child(2) {
  padding-left: 25px;
}




#red-heading {
  color:red;
  margin-top: 40px;
}

#line {
  width: 790px;
  margin-top: -30px;

}


#website {
margin-left: 200px;
margin-top: -10px;
color: gray;
font-size: 1.5em;
}

#bullets {
  margin-left: -10px;
}



#adobe {
  width: 200px;
  margin-left: 650px;
  margin-top: -80px;
}

#body-copy {
  width: 300px;
}
